
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title >NoQueue</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <style>
         #logo{
             display :none;
         }
     </style>
     <div class="row"></div>
     <br><br><br>

     <div class="row col-lg-12">
        <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">

            <a class="navbar-brand text-brand" href="#">
                 <img src="{{ url_for('static',filename='images/logo.png')}}"  height="20px" alt="Fuprox Logo">
            </a>
            {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{ category }} ">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h6>Password reset successfully</h6>
        <div>This page will close in a bit. Kindly, use the app login page for further actions.</div>
        </div>
     </div>
    <script>
        setTimeout(()=>{
            window.close()
        },5000)
    </script>
</div>
</body>
</html>