{% extends 'layout.html'%}
{% block nav%}
    <div class="navbar-collapse collapse offset-md-6" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tellers') }}">Manage</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('payments') }}">Bookings</a>
          </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('extras') }}">Apps</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{ url_for('help') }}">Help</a>
          </li>

          <li class="nav-item">
                <a class="nav-link " href="{{ url_for('logout') }}" style="color:red;">Logout</a>
          </li>
        </ul>
    </div>
{% endblock %}
{% block status%}
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-">
          <div class="title-single-box col-lg-8">
            <h5 style="font-size:15px;">Booking Details</h5>
            <span class="color-text-a"></span>
          </div>
        </div>

      </div>
<!--      body-->
    </div>
  </section>
{% endblock%}
{% block content %}
    <div class="row mb-3">
        <h5 class="col-lg-11">Booking Info</h5>
        <div class="col-lg-1">
            <a class="btn btn-warning btn-sm col-lg-12" href="{{ url_for('payments') }}">Back</a>
        </div>
    </div>

<div class="col-lg-12 row">
<div class="col-2">
    <h5 class="text-muted row">Booking ID : </h5>
    <h6 class="text-muted row">Service : </h6>
    <h6 class="text-muted row">Ticket : </h6>
    <h6 class="text-muted row">Icon : </h6>
    <h6 class="text-muted row">Unique ID : </h6>
    <h6 class="text-muted row">Booking Date : </h6>
    <h6 class="text-muted row">Served : </h6>
    <h6 class="text-muted row">Teller : </h6>
    <h6 class="text-muted row">Synced : </h6>
    <h6 class="text-muted row">Instant : </h6>
    <h6 class="text-muted row">Forwarded : </h6>
    <h6 class="text-muted row mt-2">Booking Metrics : </h6>
</div>

<div class="col-4">
    <h5 class="text-muted row">{{ booking.id }}</h5>
    <h6 class="text-muted row">{{ booking.service_name }}</h6>
    <h6 class="text-muted row">{{ booking.service.code }}{{ booking.ticket }}</h6>
    <h6 class="text-muted row"><img src="{{ booking.icon.icon }}" alt="icon" height="20px"></h6>
    <h6 class="text-muted row">{{ booking.unique_id }}</h6>
    <h6 class="text-muted row">{{ booking.date_added }}</h6>
    <h6 class="text-muted row">{{ booking.serviced_ }}</h6>
    <h6 class="text-muted row">{{ booking.teller }}</h6>
    <h6 class="text-muted row">{{ booking.is_synced_ }}</h6>
    <h6 class="text-muted row">{{ booking.is_instant_ }}</h6>
    <h6 class="text-muted row">{{ booking.forwarded_}}</h6>
    <h6 class="text-muted row mt-2">
        Service time : {{ metrics.service}}<br>
        Wait Time : {{ metrics.wait}}<br>
        Total Time :{{ metrics.total}}<br>
    </h6>

</div>

</div>
<div class="col-lg-12 row mb-3 mt-4"><h5>Booking History</h5></div>
    <ol class="col-12">
{% for statement in statements %}
    <li class="col-6 h6">{{ statement }}</li>
{% endfor %}
    </ol>
{% endblock %}