{% extends 'layout.html'%}
{% block nav%}
    <div class="navbar-collapse collapse offset-md-6" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tellers') }}">Manage</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('payments') }}">Bookings</a>
          </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('extras') }}">Apps</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{ url_for('help') }}">Help</a>
          </li>

          <li class="nav-item">
                <a class="nav-link " href="{{ url_for('logout') }}" style="color:red;">Logout</a>
          </li>
        </ul>
    </div>
{% endblock %}
{% block status%}
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <div class="title-single-box">
            <h5 style="font-size:15px;">Bookings</span></h5>
            <span class="color-text-a"></span>
          </div>
        </div>
          <div class="col-lg-3">
{#              <div class="btn btn-outline-secondary btn-sm col-lg-12">< Back</div>#}
          </div>
          <div class="col-lg-4">
              <input type="text" class="form-control form-control-sm" placeholder="Search Bookings" id="search_bookings">
          </div>
      </div>
  </section>
{% endblock%}

{% block content %}
<table class="table table-striped table-hover tables table-bordered" id="Mpesa" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ticket</th>
            <th scope="col">Service</th>
            <th scope="col">teller</th>
            <th scope="col">serviced</th>
            <th scope="col">Forwarded</th>
            <th scope="col">Synced</th>
            <th scope="col">Date Added</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody id="adminTableBody">

          {% for booking in bookings%}
          <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.start }}{{ booking.ticket }}</td>
            <td>{{ booking.service_name }}</td>
            <td>{{ booking.teller }}</td>
            <td>{% if  booking.serviced %} {{ "Serviced" }} {% else %} {{ "Not Serviced" }}{% endif %}</td>
            <td>{% if  booking.is_synced %} {{ "Synced" }} {% else %} {{ "Not Synced" }}{% endif %}</td>
            <td>{% if  booking.forwarded %} {{ "Forwarded" }} {% else %} {{ "Not Forwarded" }}{% endif %}</td>
            <td title="{{booking.date_added}}">{{ booking.date_term }}</td>

            <td><a href="{{ url_for('booking_info',id=booking.id)}}">Details</a></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
<script>


var start = new Date(),
            prevDay,
            startHours = 8;
// 09:00 AM
start.setHours(8);
start.setMinutes(0);
// If today is Saturday or Sunday set 10:00 AM
if ([6, 0].indexOf(start.getDay()) !== -1) {
    start.setHours(10);
    startHours = 10
}
// var minHours =;
// var minDate = ;
// minDate : today;
$('#date_range').datepicker({
    language: 'en',
    startDate: start,
    maxDate: start,
    autoClose: true,
    position: "top left",
    onSelect: function (fd, d, picker) {
        // Do nothing if selection was cleared
        if (!d) return;
        let day = d.getDay();
        // Trigger only if date is changed
        if (prevDay !== undefined && prevDay === day) return;
        prevDay = day;
        // If chosen day is Saturday or Sunday when set
        // hour value for weekends, else restore defaults
        if (day === 6 || day === 0) {
            picker.update({
                minHours: 10,
                maxHours: 16
            })
        } else {
            picker.update({
                minHours: 9,
                maxHours: 18
            })
        }
    }
});

</script>