{% extends 'layout.html' %}
 <!-- error checking -->
 {% for field in form.errors %}
 {% for error in form.errors[field] %}
     <div class="alert alert-error">
         <strong>Error!</strong> {{error}}
     </div>
 {% endfor %}
 {% endfor %}
{% block content %}
    <form action="" method="POST" class="col-lg-6 mt-5">
            {{ form.hidden_tag() }}
        <h5 >Login From</h5  >
        <br>
        <div class="form-group">
            {{ form.password.label(class='form-control-label')}}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}          
            </div>
            {% else %}
                {{ form.password(class="form-control")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.verify_password.label(class='form-control-label')}}
            {% if form.verify_password.errors %}
            {{ form.verify_password(class="form-control is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.verify_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}          
            </div>
            {% else %}
                {{ form.verify_password(class="form-control")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-success btn-block")}}
        </div>
    </form>
{% endblock content %}